---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=russia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<pexel_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13b15fdf646ad2e23bb9c069ac925cf4"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24951'
      X-Ratelimit-Reset:
      - '1680582700'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[{"id":236294,"width":2000,"height":2000,"url":"https://www.pexels.com/photo/architecture-building-cathedral-church-236294/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"avg_color":"#5F82AE","src":{"original":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg","large2x":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/236294/pexels-photo-236294.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"St.
        Peter Basilica, Russia Under Clouded Sky"},{"id":753339,"width":1469,"height":2200,"url":"https://www.pexels.com/photo/saint-basil-s-cathedral-753339/","photographer":"Julius
        Silver","photographer_url":"https://www.pexels.com/@julius-silver-240301","photographer_id":240301,"avg_color":"#525863","src":{"original":"https://images.pexels.com/photos/753339/pexels-photo-753339.jpeg","large2x":"https://images.pexels.com/photos/753339/pexels-photo-753339.jpeg?auto=compress\u0026cs=[...]
