---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=thisisfake
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<pexel_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24953'
      X-Ratelimit-Reset:
      - '1680582700'
      X-Server:
      - bulldog
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Mon, 06 Mar 2023 01:32:17 GMT
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_key>&part=snippet&q=thisisfake&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 06 Mar 2023 01:32:18 GMT
recorded_with: VCR 6.1.0
